/* 
#2B2D42 - Space cadet
#003049 - Prussian blue
#669BBC - Air superiority blue 
#FDF0D5 - Papaya whip
#EDF2F4 - Anti-flash white
#C1121F - Fire brick
#780000 - Barn red
*/


header {
  background-color: #EDF2F4;
  box-shadow: 0 10px 8px -8px #FDF0D5; 
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

h1 {
  font-family: Yatra One;
  font-size: 5rem;
  color: #C1121F;
  padding-left: 2rem;
  margin: 0
}

.subheader {
  margin: 0;
  font-size: 3.5rem;
}