/* 
#2B2D42 - Space cadet
#003049 - Prussian blue
#669BBC - Air superiority blue 
#FDF0D5 - Papaya whip
#EDF2F4 - Anti-flash white
#C1121F - Fire brick
#780000 - Barn red
*/

html {
  height: 100vh;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #003049;
}

main {
  display: flex;
  justify-content: center;
  padding: 3rem;
}

h2 {
  color: #2b2d42;
  font-family: Caveat;
  font-weight: 500;
  font-size: 3rem;
  margin: 1.5rem;
}

h3 {
  font-size: 1.5rem;
}

h3,
p {
  font-family: Prompt;
  font-weight: 300;
}
